@import "../menu/navigation.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.paralax {
    background-image: url("../gallery/apartment-dark.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 900px;
}

.paralax-content {
    position: absolute;
    font-family: Arial, sans-serif;
    max-width: 1300px;
    width: 100%;
    max-height: border-box;
    height: content-box;
    text-align: left;
    margin: 10% 0;
    padding: 50px 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.paralax .paralax-content h2 {
    font-family: "Arial Black", sans-serif;
    font-size: 3rem;
    color: #2DA6A7;
}

.paralax .paralax-content .widget-container li {
    font-family: Arial, sans-serif;;
    display: block;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 15px 20px;
    color: #fffbfd;
}

.paralax button {
    background: none;
    position: absolute;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 40vh;
    height: 9vh;
    color: #2DA6A7;
    border: 2px #2DA6A7 solid;
    border-radius: 40px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 35% auto;
}

