@import "../menu/navigation.css";

section {
    margin: auto;
    width: 100%;
}

article {
    background-color: #F2F2F2;
    font-size: 2rem;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 30px;
}

section article div {
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
    padding:0 0 20px 0;
}

section article div img {
    width: 100%;
    height: 100%;
}

section article div h4 {
    text-align: center;
    font-size: 0.8em;
    color: #6A6262;
    margin: 20px 15px;
}

section article div a {
    text-decoration: none;
    color: #2DA6A7;
    border: 4px solid #2DA6A7;
    border-radius: 8px;
    padding: 6px 20px;
}

section article div a:hover {
    color: firebrick;
    border: 4px solid firebrick;
}

footer {
    text-align: center;
    width: 100%;
    height: 300px;
    background-image: url("../gallery/footer-first.jpg");
    background-repeat: no-repeat;
    background-attachment: revert;
    background-size: 100%;
    padding: 100px;
}

footer .footer-content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: medium;
}